## Pulling From AWS

In [1]:
import os

spark_version = 'spark-3.2.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://archive.ubuntu.com/ubuntu focal InRelease
Get:2 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:3 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease [1,581 B]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Get:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  Packages [920 kB]
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:12 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:13 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,017 kB]
Get:14 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,544 kB]
Get:15 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,021 kB]
Get:16 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,313 kB]
Get:17 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [2,136 kB]
Fetched 11.3 MB in 6s (1,869 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.17.jar

--2023-03-16 22:34:27--  https://jdbc.postgresql.org/download/postgresql-42.2.17.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1004734 (981K) [application/java-archive]
Saving to: ‘postgresql-42.2.17.jar’

postgresql-42.2.17. 100%[===================>] 981.19K  6.32MB/s    in 0.2s

2023-03-16 22:34:28 (6.32 MB/s) - ‘postgresql-42.2.17.jar’ saved [1004734/1004734]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.17.jar").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://casey-elizabeth-haley-kaleb-bucket.s3.us-east-2.amazonaws.com/Total+Emissions+Per+Country+.csv"
spark.sparkContext.addFile(url)
total_emissions_uncleaned_df = spark.read.csv(SparkFiles.get("Total+Emissions+Per+Country+.csv"), sep=",", header=True, inferSchema=True)

## Data Cleaning

In [5]:
total_emissions_uncleaned_df.show()

+-----------+--------------------+--------------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|       Area|                Item|       Emission_Type|      Unit|Year_2000|Year_2001|Year_2002|Year_2003|Year_2004|Year_2005|Year_2006|Year_2007|Year_2008|Year_2009|Year_2010|Year_2011|Year_2012|Year_2013|Year_2014|Year_2015|Year_2016|Year_2017|Year_2018|Year_2019|Year_2020|
+-----------+--------------------+--------------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|Afghanistan|       Crop Residues|Direct emissions ...|kilotonnes|     0.52|   0.5267|     0.82|   0.9988|   0.8225|   1.1821|   1.0277|   1.2426|   0.8869|    1.392|   1.2742|   1.0321|   1.3726|   1.4018|   1.4584|   1.2424|    1.194|   1.0617|   0.8988|   1.2176|    1.317|
|Afghanistan|       Crop Residues|Indirect emission...|kilotonnes|    0.117|   0.1185|   0.1845|   0.2247|   0.1851|    0.266|   0.2312|   0.2796|   0.1996|   0.3132|   0.2867|   0.2322|   0.3088|   0.3154|   0.3281|   0.2795|   0.2687|   0.2389|   0.2022|    0.274|   0.2963|
|Afghanistan|       Crop Residues|     Emissions (N2O)|kilotonnes|    0.637|   0.6452|   1.0045|   1.2235|   1.0075|   1.4481|   1.2589|   1.5222|   1.0865|   1.7051|   1.5609|   1.2643|   1.6815|   1.7173|   1.7865|    1.522|   1.4627|   1.3005|   1.1011|   1.4916|   1.6133|
|Afghanistan|       Crop Residues|Emissions (CO2eq)...|kilotonnes|  168.807| 170.9884| 266.1975| 324.2195| 266.9995| 383.7498| 333.6093| 403.3749| 287.9099| 451.8647| 413.6467| 335.0379| 445.5958| 455.0727| 473.4174| 403.3181|  387.613| 344.6447| 291.7838| 395.2689| 427.5284|
|Afghanistan|       Crop Residues|Emissions (CO2eq)...|kilotonnes|  168.807| 170.9884| 266.1975| 324.2195| 266.9995| 383.7498| 333.6093| 403.3749| 287.9099| 451.8647| 413.6467| 335.0379| 445.5958| 455.0727| 473.4174| 403.3181|  387.613| 344.6447| 291.7838| 395.2689| 427.5284|
|Afghanistan|    Rice Cultivation|     Emissions (CH4)|kilotonnes|     18.2|    16.94|     18.9|     20.3|     27.3|     22.4|     22.4|     23.8|     26.6|     28.0|    29.12|     29.4|     28.7|     28.7|     30.8|    22.96|    16.66|  15.3233|  16.4555|  17.8542|  20.6577|
|Afghanistan|    Rice Cultivation|Emissions (CO2eq)...|kilotonnes|    509.6|   474.32|    529.2|    568.4|    764.4|    627.2|    627.2|    666.4|    744.8|    784.0|   815.36|    823.2|    803.6|    803.6|    862.4|   642.88|   466.48| 429.0518| 460.7529| 499.9176| 578.4156|
|Afghanistan|    Rice Cultivation|Emissions (CO2eq)...|kilotonnes|    509.6|   474.32|    529.2|    568.4|    764.4|    627.2|    627.2|    666.4|    744.8|    784.0|   815.36|    823.2|    803.6|    803.6|    862.4|   642.88|   466.48| 429.0518| 460.7529| 499.9176| 578.4156|
|Afghanistan|Burning - Crop re...|     Emissions (CH4)|kilotonnes|   2.6471|   2.3205|   2.3553|   3.4017|   3.0089|   3.4752|   3.2535|   3.2921|   2.9674|   3.4614|   3.3507|   3.2219|   3.4035|   3.4506|   3.5413|   2.9452|   3.0734|   2.7997|    2.139|   2.9693|   3.4826|
|Afghanistan|Burning - Crop re...|     Emissions (CH4)|kilotonnes|     null|     null|     null|     null|     null|    10.07|     null|     null|     null|     null|     null|     null|     null|      5.0|     null|     null|     null|     null|     null|     null|     null|
|Afghanistan|Burning - Crop re...|     Emissions (N2O)|kilotonnes|   0.0686|   0.0602|   0.0611|   0.0882|    0.078|   0.0901|   0.0844|   0.0854|   0.0769|   0.0897|   0.0869|   0.0835|   0.0882|   0.0895|   0.0918|   0.0764|   0.0797|   0.0726|   0.0555|    0.077|   0.0903|
|Afghanistan|Burning - Crop re...|     Emissions (N2O)|kilotonnes|     null|     null|     null|     null|     null|    0.021|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotonnes|  74.1182|  64.9744|  65.9497|  95.2481|  84.2486|  97.3048|  91.0984|  92.1795|  83.0882|  96.9194|  93.8207|  90.2137|  95.2987|  96.6172|  99.1558|  82.4646|  86.0555|   78.391|  59.8924|  83.1393|   97.513|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotonnes|     null|     null|     null|     null|     null|   281.96|     null|     null|     null|     null|     null|     null|     null|    140.0|     null|     null|     null|     null|     null|     null|     null|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotonnes|  18.1864|  15.9428|  16.1821|  23.3711|  20.6721|  23.8757|  22.3528|  22.6181|  20.3874|  23.7811|  23.0208|  22.1358|  23.3835|   23.707|  24.3299|  20.2344|  21.1155|  19.2348|  14.6958|  20.3999|  23.9268|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotonnes|     null|     null|     null|     null|     null|    5.565|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|     null|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotonnes|  92.3047|  80.9172|  82.1318| 118.6191| 104.9208| 121.1805| 113.4512| 114.7976| 103.4756| 120.7005| 116.8416| 112.3495| 118.6822| 120.3242| 123.4857| 102.6989|  107.171|  97.6259|  74.5882| 103.5392| 121.4398|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotonnes|     null|     null|     null|     null|     null|  287.525|     null|     null|     null|     null|     null|     null|     null|    140.0|     null|     null|     null|     null|     null|     null|     null|
|Afghanistan|Enteric Fermentation|     Emissions (CH4)|kilotonnes|   272.14|  225.403|  287.893|  293.626|  285.598|  295.401|  300.807|  304.225|  339.559|  345.658|  401.068|  402.513|  396.921|  393.093|  398.287|  382.694| 380.2907| 370.8133| 378.9994| 363.9018| 378.5858|
|Afghanistan|Enteric Fermentation|     Emissions (CH4)|kilotonnes|     null|     null|     null|     null|     null|   309.03|     null|     null|     null|     null|     null|     null|     null|    414.0|     null|     null|     null|     null|     null|     null|     null|
+-----------+--------------------+--------------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [6]:
total_emissions_dropna_df = total_emissions_uncleaned_df.dropna()
total_emissions_dropna_df.show()

+-----------+--------------------+--------------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+
|       Area|                Item|       Emission_Type|      Unit|Year_2000|Year_2001|Year_2002|Year_2003|Year_2004|Year_2005|Year_2006|Year_2007|Year_2008|Year_2009|Year_2010|Year_2011|Year_2012|Year_2013|Year_2014| Year_2015| Year_2016| Year_2017| Year_2018| Year_2019| Year_2020|
+-----------+--------------------+--------------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+
|Afghanistan|       Crop Residues|Direct emissions ...|kilotonnes|     0.52|   0.5267|     0.82|   0.9988|   0.8225|   1.1821|   1.0277|   1.2426|   0.8869|    1.392|   1.2742|   1.0321|   1.3726|   1.4018|   1.4584|    1.2424|     1.194|    1.0617|    0.8988|    1.2176|     1.317|
|Afghanistan|       Crop Residues|Indirect emission...|kilotonnes|    0.117|   0.1185|   0.1845|   0.2247|   0.1851|    0.266|   0.2312|   0.2796|   0.1996|   0.3132|   0.2867|   0.2322|   0.3088|   0.3154|   0.3281|    0.2795|    0.2687|    0.2389|    0.2022|     0.274|    0.2963|
|Afghanistan|       Crop Residues|     Emissions (N2O)|kilotonnes|    0.637|   0.6452|   1.0045|   1.2235|   1.0075|   1.4481|   1.2589|   1.5222|   1.0865|   1.7051|   1.5609|   1.2643|   1.6815|   1.7173|   1.7865|     1.522|    1.4627|    1.3005|    1.1011|    1.4916|    1.6133|
|Afghanistan|       Crop Residues|Emissions (CO2eq)...|kilotonnes|  168.807| 170.9884| 266.1975| 324.2195| 266.9995| 383.7498| 333.6093| 403.3749| 287.9099| 451.8647| 413.6467| 335.0379| 445.5958| 455.0727| 473.4174|  403.3181|   387.613|  344.6447|  291.7838|  395.2689|  427.5284|
|Afghanistan|       Crop Residues|Emissions (CO2eq)...|kilotonnes|  168.807| 170.9884| 266.1975| 324.2195| 266.9995| 383.7498| 333.6093| 403.3749| 287.9099| 451.8647| 413.6467| 335.0379| 445.5958| 455.0727| 473.4174|  403.3181|   387.613|  344.6447|  291.7838|  395.2689|  427.5284|
|Afghanistan|    Rice Cultivation|     Emissions (CH4)|kilotonnes|     18.2|    16.94|     18.9|     20.3|     27.3|     22.4|     22.4|     23.8|     26.6|     28.0|    29.12|     29.4|     28.7|     28.7|     30.8|     22.96|     16.66|   15.3233|   16.4555|   17.8542|   20.6577|
|Afghanistan|    Rice Cultivation|Emissions (CO2eq)...|kilotonnes|    509.6|   474.32|    529.2|    568.4|    764.4|    627.2|    627.2|    666.4|    744.8|    784.0|   815.36|    823.2|    803.6|    803.6|    862.4|    642.88|    466.48|  429.0518|  460.7529|  499.9176|  578.4156|
|Afghanistan|    Rice Cultivation|Emissions (CO2eq)...|kilotonnes|    509.6|   474.32|    529.2|    568.4|    764.4|    627.2|    627.2|    666.4|    744.8|    784.0|   815.36|    823.2|    803.6|    803.6|    862.4|    642.88|    466.48|  429.0518|  460.7529|  499.9176|  578.4156|
|Afghanistan|Burning - Crop re...|     Emissions (CH4)|kilotonnes|   2.6471|   2.3205|   2.3553|   3.4017|   3.0089|   3.4752|   3.2535|   3.2921|   2.9674|   3.4614|   3.3507|   3.2219|   3.4035|   3.4506|   3.5413|    2.9452|    3.0734|    2.7997|     2.139|    2.9693|    3.4826|
|Afghanistan|Burning - Crop re...|     Emissions (N2O)|kilotonnes|   0.0686|   0.0602|   0.0611|   0.0882|    0.078|   0.0901|   0.0844|   0.0854|   0.0769|   0.0897|   0.0869|   0.0835|   0.0882|   0.0895|   0.0918|    0.0764|    0.0797|    0.0726|    0.0555|     0.077|    0.0903|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotonnes|  74.1182|  64.9744|  65.9497|  95.2481|  84.2486|  97.3048|  91.0984|  92.1795|  83.0882|  96.9194|  93.8207|  90.2137|  95.2987|  96.6172|  99.1558|   82.4646|   86.0555|    78.391|   59.8924|   83.1393|    97.513|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotonnes|  18.1864|  15.9428|  16.1821|  23.3711|  20.6721|  23.8757|  22.3528|  22.6181|  20.3874|  23.7811|  23.0208|  22.1358|  23.3835|   23.707|  24.3299|   20.2344|   21.1155|   19.2348|   14.6958|   20.3999|   23.9268|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotonnes|  92.3047|  80.9172|  82.1318| 118.6191| 104.9208| 121.1805| 113.4512| 114.7976| 103.4756| 120.7005| 116.8416| 112.3495| 118.6822| 120.3242| 123.4857|  102.6989|   107.171|   97.6259|   74.5882|  103.5392|  121.4398|
|Afghanistan|Enteric Fermentation|     Emissions (CH4)|kilotonnes|   272.14|  225.403|  287.893|  293.626|  285.598|  295.401|  300.807|  304.225|  339.559|  345.658|  401.068|  402.513|  396.921|  393.093|  398.287|   382.694|  380.2907|  370.8133|  378.9994|  363.9018|  378.5858|
|Afghanistan|Enteric Fermentation|Emissions (CO2eq)...|kilotonnes|  7619.92| 6311.284| 8061.004| 8221.528| 7996.744| 8271.228| 8422.596|   8518.3| 9507.652| 9678.424|11229.904|11270.364|11113.788|11006.604|11152.036|10715.4312|10648.1387|10382.7732|10611.9842|10189.2498|10600.4026|
|Afghanistan|Enteric Fermentation|Emissions (CO2eq)...|kilotonnes|  7619.92| 6311.284| 8061.004| 8221.528| 7996.744| 8271.228| 8422.596|   8518.3| 9507.652| 9678.424|11229.904|11270.364|11113.788|11006.604|11152.036|10715.4312|10648.1387|10382.7732|10611.9842|10189.2498|10600.4026|
|Afghanistan|   Manure Management|     Emissions (CH4)|kilotonnes|  15.0621|  12.1998|  18.3753|  18.6686|  17.5698|    18.49|  19.5214|  20.5011|   22.421|  22.5567|  26.5669|  26.1599|  26.0913|  26.0859|  26.3682|    24.762|   24.6335|   23.6543|   24.3787|   24.0501|   24.2306|
|Afghanistan|   Manure Management|     Emissions (N2O)|kilotonnes|   0.3613|   0.3193|   0.2945|   0.3033|   0.3173|   0.3285|   0.3005|   0.2771|   0.3326|   0.3542|    0.398|   0.4177|   0.4013|   0.3868|   0.3932|    0.3946|    0.3932|    0.4014|    0.4028|    0.3513|    0.4033|
|Afghanistan|   Manure Management|Emissions (CO2eq)...|kilotonnes| 421.7377| 341.5936| 514.5073| 522.7211| 491.9558| 517.7189| 546.5998| 574.0322| 627.7872| 631.5865| 743.8726| 732.4766| 730.5556| 730.4049| 738.3107|  693.3371|   689.739|  662.3203|  682.6043|  673.4015|  678.4564|
|Afghanistan|   Manure Management|Emissions (CO2eq)...|kilotonnes|  95.7551|  84.6123|   78.054|  80.3814|  84.0816|  87.0479|   79.643|  73.4362|  88.1474|  93.8549| 105.4627| 110.6942| 106.3533| 102.4912|  104.193|  104.5636|  104.1987|  106.3599|  106.7321|   93.0997|  106.8751|
+-----------+--------------------+--------------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+
only showing top 20 rows

In [7]:
total_emissions_cleaned_df = total_emissions_dropna_df.replace("kilotonnes", "kilotons")
total_emissions_cleaned_df.show()

+-----------+--------------------+--------------------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+
|       Area|                Item|       Emission_Type|    Unit|Year_2000|Year_2001|Year_2002|Year_2003|Year_2004|Year_2005|Year_2006|Year_2007|Year_2008|Year_2009|Year_2010|Year_2011|Year_2012|Year_2013|Year_2014| Year_2015| Year_2016| Year_2017| Year_2018| Year_2019| Year_2020|
+-----------+--------------------+--------------------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+
|Afghanistan|       Crop Residues|Direct emissions ...|kilotons|     0.52|   0.5267|     0.82|   0.9988|   0.8225|   1.1821|   1.0277|   1.2426|   0.8869|    1.392|   1.2742|   1.0321|   1.3726|   1.4018|   1.4584|    1.2424|     1.194|    1.0617|    0.8988|    1.2176|     1.317|
|Afghanistan|       Crop Residues|Indirect emission...|kilotons|    0.117|   0.1185|   0.1845|   0.2247|   0.1851|    0.266|   0.2312|   0.2796|   0.1996|   0.3132|   0.2867|   0.2322|   0.3088|   0.3154|   0.3281|    0.2795|    0.2687|    0.2389|    0.2022|     0.274|    0.2963|
|Afghanistan|       Crop Residues|     Emissions (N2O)|kilotons|    0.637|   0.6452|   1.0045|   1.2235|   1.0075|   1.4481|   1.2589|   1.5222|   1.0865|   1.7051|   1.5609|   1.2643|   1.6815|   1.7173|   1.7865|     1.522|    1.4627|    1.3005|    1.1011|    1.4916|    1.6133|
|Afghanistan|       Crop Residues|Emissions (CO2eq)...|kilotons|  168.807| 170.9884| 266.1975| 324.2195| 266.9995| 383.7498| 333.6093| 403.3749| 287.9099| 451.8647| 413.6467| 335.0379| 445.5958| 455.0727| 473.4174|  403.3181|   387.613|  344.6447|  291.7838|  395.2689|  427.5284|
|Afghanistan|       Crop Residues|Emissions (CO2eq)...|kilotons|  168.807| 170.9884| 266.1975| 324.2195| 266.9995| 383.7498| 333.6093| 403.3749| 287.9099| 451.8647| 413.6467| 335.0379| 445.5958| 455.0727| 473.4174|  403.3181|   387.613|  344.6447|  291.7838|  395.2689|  427.5284|
|Afghanistan|    Rice Cultivation|     Emissions (CH4)|kilotons|     18.2|    16.94|     18.9|     20.3|     27.3|     22.4|     22.4|     23.8|     26.6|     28.0|    29.12|     29.4|     28.7|     28.7|     30.8|     22.96|     16.66|   15.3233|   16.4555|   17.8542|   20.6577|
|Afghanistan|    Rice Cultivation|Emissions (CO2eq)...|kilotons|    509.6|   474.32|    529.2|    568.4|    764.4|    627.2|    627.2|    666.4|    744.8|    784.0|   815.36|    823.2|    803.6|    803.6|    862.4|    642.88|    466.48|  429.0518|  460.7529|  499.9176|  578.4156|
|Afghanistan|    Rice Cultivation|Emissions (CO2eq)...|kilotons|    509.6|   474.32|    529.2|    568.4|    764.4|    627.2|    627.2|    666.4|    744.8|    784.0|   815.36|    823.2|    803.6|    803.6|    862.4|    642.88|    466.48|  429.0518|  460.7529|  499.9176|  578.4156|
|Afghanistan|Burning - Crop re...|     Emissions (CH4)|kilotons|   2.6471|   2.3205|   2.3553|   3.4017|   3.0089|   3.4752|   3.2535|   3.2921|   2.9674|   3.4614|   3.3507|   3.2219|   3.4035|   3.4506|   3.5413|    2.9452|    3.0734|    2.7997|     2.139|    2.9693|    3.4826|
|Afghanistan|Burning - Crop re...|     Emissions (N2O)|kilotons|   0.0686|   0.0602|   0.0611|   0.0882|    0.078|   0.0901|   0.0844|   0.0854|   0.0769|   0.0897|   0.0869|   0.0835|   0.0882|   0.0895|   0.0918|    0.0764|    0.0797|    0.0726|    0.0555|     0.077|    0.0903|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotons|  74.1182|  64.9744|  65.9497|  95.2481|  84.2486|  97.3048|  91.0984|  92.1795|  83.0882|  96.9194|  93.8207|  90.2137|  95.2987|  96.6172|  99.1558|   82.4646|   86.0555|    78.391|   59.8924|   83.1393|    97.513|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotons|  18.1864|  15.9428|  16.1821|  23.3711|  20.6721|  23.8757|  22.3528|  22.6181|  20.3874|  23.7811|  23.0208|  22.1358|  23.3835|   23.707|  24.3299|   20.2344|   21.1155|   19.2348|   14.6958|   20.3999|   23.9268|
|Afghanistan|Burning - Crop re...|Emissions (CO2eq)...|kilotons|  92.3047|  80.9172|  82.1318| 118.6191| 104.9208| 121.1805| 113.4512| 114.7976| 103.4756| 120.7005| 116.8416| 112.3495| 118.6822| 120.3242| 123.4857|  102.6989|   107.171|   97.6259|   74.5882|  103.5392|  121.4398|
|Afghanistan|Enteric Fermentation|     Emissions (CH4)|kilotons|   272.14|  225.403|  287.893|  293.626|  285.598|  295.401|  300.807|  304.225|  339.559|  345.658|  401.068|  402.513|  396.921|  393.093|  398.287|   382.694|  380.2907|  370.8133|  378.9994|  363.9018|  378.5858|
|Afghanistan|Enteric Fermentation|Emissions (CO2eq)...|kilotons|  7619.92| 6311.284| 8061.004| 8221.528| 7996.744| 8271.228| 8422.596|   8518.3| 9507.652| 9678.424|11229.904|11270.364|11113.788|11006.604|11152.036|10715.4312|10648.1387|10382.7732|10611.9842|10189.2498|10600.4026|
|Afghanistan|Enteric Fermentation|Emissions (CO2eq)...|kilotons|  7619.92| 6311.284| 8061.004| 8221.528| 7996.744| 8271.228| 8422.596|   8518.3| 9507.652| 9678.424|11229.904|11270.364|11113.788|11006.604|11152.036|10715.4312|10648.1387|10382.7732|10611.9842|10189.2498|10600.4026|
|Afghanistan|   Manure Management|     Emissions (CH4)|kilotons|  15.0621|  12.1998|  18.3753|  18.6686|  17.5698|    18.49|  19.5214|  20.5011|   22.421|  22.5567|  26.5669|  26.1599|  26.0913|  26.0859|  26.3682|    24.762|   24.6335|   23.6543|   24.3787|   24.0501|   24.2306|
|Afghanistan|   Manure Management|     Emissions (N2O)|kilotons|   0.3613|   0.3193|   0.2945|   0.3033|   0.3173|   0.3285|   0.3005|   0.2771|   0.3326|   0.3542|    0.398|   0.4177|   0.4013|   0.3868|   0.3932|    0.3946|    0.3932|    0.4014|    0.4028|    0.3513|    0.4033|
|Afghanistan|   Manure Management|Emissions (CO2eq)...|kilotons| 421.7377| 341.5936| 514.5073| 522.7211| 491.9558| 517.7189| 546.5998| 574.0322| 627.7872| 631.5865| 743.8726| 732.4766| 730.5556| 730.4049| 738.3107|  693.3371|   689.739|  662.3203|  682.6043|  673.4015|  678.4564|
|Afghanistan|   Manure Management|Emissions (CO2eq)...|kilotons|  95.7551|  84.6123|   78.054|  80.3814|  84.0816|  87.0479|   79.643|  73.4362|  88.1474|  93.8549| 105.4627| 110.6942| 106.3533| 102.4912|  104.193|  104.5636|  104.1987|  106.3599|  106.7321|   93.0997|  106.8751|
+-----------+--------------------+--------------------+--------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+----------+----------+----------+----------+----------+----------+
only showing top 20 rows

## Summary DataFrame

In [8]:
import pandas as pd

In [9]:
emissions_pandas_df = total_emissions_cleaned_df.toPandas()

In [10]:
emissions_pandas_df

,Area,Item,Emission_Type,Unit,Year_2000,Year_2001,Year_2002,Year_2003,Year_2004,Year_2005,...,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Year_2020
0,Afghanistan,Crop Residues,Direct emissions (N2O),kilotons,0.5200,0.5267,0.8200,0.9988,0.8225,1.1821,...,1.0321,1.3726,1.4018,1.4584,1.2424,1.1940,1.0617,0.8988,1.2176,1.3170
1,Afghanistan,Crop Residues,Indirect emissions (N2O),kilotons,0.1170,0.1185,0.1845,0.2247,0.1851,0.2660,...,0.2322,0.3088,0.3154,0.3281,0.2795,0.2687,0.2389,0.2022,0.2740,0.2963
2,Afghanistan,Crop Residues,Emissions (N2O),kilotons,0.6370,0.6452,1.0045,1.2235,1.0075,1.4481,...,1.2643,1.6815,1.7173,1.7865,1.5220,1.4627,1.3005,1.1011,1.4916,1.6133
3,Afghanistan,Crop Residues,Emissions (CO2eq) from N2O (AR5),kilotons,168.8070,170.9884,266.1975,324.2195,266.9995,383.7498,...,335.0379,445.5958,455.0727,473.4174,403.3181,387.6130,344.6447,291.7838,395.2689,427.5284
4,Afghanistan,Crop Residues,Emissions (CO2eq) (AR5),kilotons,168.8070,170.9884,266.1975,324.2195,266.9995,383.7498,...,335.0379,445.5958,455.0727,473.4174,403.3181,387.6130,344.6447,291.7838,395.2689,427.5284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38426,Sweden,Drained organic soils (N2O),Emissions (N2O),kilotons,5.1092,5.1209,5.1355,5.1857,5.2963,5.4384,...,6.0675,6.1048,6.1144,6.1765,6.1881,6.2629,6.3629,6.7063,6.9126,6.9338
38427,Sweden,Drained organic soils (N2O),Emissions (N2O),kilotons,3.0553,3.0473,3.0351,3.0228,3.0142,3.0049,...,2.9036,2.8808,2.8557,2.8395,2.8303,2.8156,2.7989,2.7878,2.7743,2.7589
38428,Sweden,Drained organic soils (N2O),Emissions (CO2eq) from N2O (AR5),kilotons,1353.9379,1357.0467,1360.8961,1374.2134,1403.5229,1441.1851,...,1607.8907,1617.7663,1620.3241,1636.7712,1639.8453,1659.6792,1686.1590,1777.1796,1831.8376,1837.4575
38429,Sweden,Drained organic soils (N2O),Emissions (CO2eq) from N2O (AR5),kilotons,809.6447,807.5436,804.2915,801.0535,798.7694,796.3083,...,769.4588,763.4116,756.7598,752.4800,750.0283,746.1282,741.7152,738.7774,735.1846,731.1023
38430,Sweden,Drained organic soils (N2O),Emissions (CO2eq) (AR5),kilotons,1353.9379,1357.0467,1360.8961,1374.2134,1403.5229,1441.1851,...,1607.8907,1617.7663,1620.3241,1636.7712,1639.8453,1659.6792,1686.1590,1777.1796,1831.8376,1837.4575

In [17]:
emissions_summary_df_pandas = emissions_pandas_df.describe()
emissions_summary_df_pandas.insert(0, 'Index', emissions_summary_df_pandas.index)
emissions_summary_df_pandas

,Index,Year_2000,Year_2001,Year_2002,Year_2003,Year_2004,Year_2005,Year_2006,Year_2007,Year_2008,...,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Year_2020
count,count,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,...,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04,3.843100e+04
mean,mean,8.062607e+03,8.008313e+03,8.359142e+03,8.604091e+03,9.173096e+03,9.405770e+03,9.905405e+03,9.963879e+03,1.020617e+04,...,1.081792e+04,1.102873e+04,1.111563e+04,1.139590e+04,1.143808e+04,1.139673e+04,1.158284e+04,1.180528e+04,1.201421e+04,1.173653e+04
std,std,9.433529e+04,9.591183e+04,1.022490e+05,1.127878e+05,1.252867e+05,1.361241e+05,1.478449e+05,1.555475e+05,1.642628e+05,...,1.969400e+05,2.020808e+05,2.058135e+05,2.084398e+05,2.073283e+05,2.043913e+05,2.084539e+05,2.134644e+05,2.188329e+05,2.203599e+05
min,min,-7.410051e+05,-7.971831e+05,-7.971831e+05,-7.971831e+05,-7.971831e+05,-7.971831e+05,-7.971831e+05,-7.971831e+05,-8.156754e+05,...,-8.648649e+05,-8.781114e+05,-8.509092e+05,-8.451650e+05,-8.390716e+05,-8.239425e+05,-8.099242e+05,-7.982900e+05,-7.849816e+05,-7.729378e+05
25%,25%,2.650000e-02,1.900000e-02,2.015000e-02,2.350000e-02,2.200000e-02,2.440000e-02,2.510000e-02,2.885000e-02,2.660000e-02,...,2.810000e-02,3.100000e-02,2.945000e-02,3.100000e-02,3.400000e-02,3.365000e-02,3.605000e-02,3.380000e-02,3.715000e-02,3.060000e-02
50%,50%,6.916000e+00,6.178700e+00,6.434500e+00,6.905300e+00,6.861000e+00,7.178900e+00,7.342500e+00,7.746800e+00,7.675100e+00,...,8.245500e+00,8.406400e+00,8.387400e+00,8.467200e+00,8.816000e+00,9.029100e+00,9.155800e+00,8.946500e+00,9.391600e+00,9.087500e+00
75%,75%,3.779087e+02,3.616760e+02,3.752926e+02,3.950836e+02,3.989841e+02,4.205209e+02,4.215623e+02,4.387105e+02,4.451113e+02,...,4.629759e+02,4.645124e+02,4.759622e+02,4.775167e+02,4.913850e+02,5.044345e+02,5.106735e+02,5.111268e+02,5.199407e+02,5.058742e+02
max,max,5.383231e+06,5.484582e+06,5.925897e+06,6.731423e+06,7.577858e+06,8.375211e+06,9.128191e+06,9.683548e+06,1.021723e+07,...,1.250354e+07,1.279649e+07,1.309592e+07,1.325110e+07,1.313829e+07,1.298856e+07,1.323641e+07,1.352664e+07,1.389463e+07,1.409145e+07

In [18]:
emissions_summary_df = spark.createDataFrame(emissions_summary_df_pandas)

In [19]:
emissions_summary_df.show()

+-----+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+--------------------+--------------------+------------------+------------------+--------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|Index|         Year_2000|        Year_2001|         Year_2002|         Year_2003|         Year_2004|         Year_2005|         Year_2006|         Year_2007|        Year_2008|           Year_2009|           Year_2010|         Year_2011|         Year_2012|           Year_2013|         Year_2014|         Year_2015|         Year_2016|        Year_2017|         Year_2018|         Year_2019|         Year_2020|
+-----+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+--------------------+--------------------+------------------+------------------+--------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|count|           38431.0|          38431.0|           38431.0|           38431.0|           38431.0|           38431.0|           38431.0|           38431.0|          38431.0|             38431.0|             38431.0|           38431.0|           38431.0|             38431.0|           38431.0|           38431.0|           38431.0|          38431.0|           38431.0|           38431.0|           38431.0|
| mean| 8062.606879594597|8008.313188431213| 8359.141922674406| 8604.091013796155| 9173.096242681688| 9405.769595261636| 9905.404584371994| 9963.878641638259|10206.17242764695|  10429.059016616793|   10714.79275791158|10817.916287627177|11028.732701228175|  11115.625778694282|11395.903954445628|11438.078556326924|11396.734783851578|11582.83989380708|11805.281567937342|12014.211863204184|11736.525516098982|
|  std| 94335.29002323069|95911.82761339398|102249.02990325239|112787.78931119117|125286.72173693137|136124.09655268528|147844.86024998248|155547.46373597777|164262.7884512586|  170911.52388139276|  183692.31122855833|196939.95495279942|202080.76998803826|  205813.45775666027|208439.80143024778| 207328.2620620787|204391.26958188214|208453.8798093857| 213464.3923265148| 218832.8520661924|220359.91413672184|
|  min|      -741005.1407|      -797183.079|       -797183.079|       -797183.079|       -797183.079|       -797183.079|       -797183.079|       -797183.079|     -815675.4055|        -904457.3378|        -899714.9962|      -864864.8577|      -878111.3866|        -850909.1503|      -845165.0442|      -839071.6446|       -823942.518|      -809924.196|      -798290.0139|      -784981.6256|      -772937.8498|
|  25%|            0.0265|            0.019|           0.02015|            0.0235|             0.022|            0.0244|            0.0251|           0.02885|           0.0266|0.027450000000000002|0.029650000000000003|            0.0281|             0.031|0.029449999999999997|             0.031|             0.034|           0.03365|          0.03605|            0.0338|           0.03715|            0.0306|
|  50%|             6.916|           6.1787|            6.4345|            6.9053|             6.861|            7.1789|            7.3425|            7.7468|           7.6751|              8.0077|               8.056|            8.2455|            8.4064|              8.3874|            8.4672|             8.816|            9.0291|           9.1558|            8.9465|            9.3916|            9.0875|
|  75%|377.90869999999995|          361.676|         375.29255|         395.08355|         398.98405|420.52094999999997|          421.5623|438.71045000000004|         445.1113|            445.1113|             458.147|          462.9759|          464.5124|           475.96225|          477.5167|         491.38505|          504.4345|         510.6735|         511.12685|         519.94065|505.87424999999996|
|  max|       5383231.142|      5484581.556|       5925896.739|       6731422.524|       7577858.028|       8375211.122|       9128191.329|         9683548.1|    1.021723057E7|       1.062105687E7|       1.145257094E7|     1.250354213E7|     1.279649375E7|       1.309591803E7|     1.325109657E7|     1.313829423E7|     1.298856187E7|    1.323641268E7|      1.35266445E7|     1.389462613E7|     1.409144631E7|
+-----+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+--------------------+--------------------+------------------+------------------+--------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+

In [15]:
from getpass import getpass
password = getpass('Enter database password')

mode = "append"
jdbc_url="jdbc:postgresql://group-4-database.c0mbmuajokyj.us-east-2.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": password,
          "driver":"org.postgresql.Driver"}

Enter database password··········

In [16]:
total_emissions_cleaned_df.write.jdbc(url=jdbc_url, table='total_emissions', mode=mode, properties=config)

In [20]:
emissions_summary_df.write.jdbc(url=jdbc_url, table='emissions_summary', mode=mode, properties=config)